<div class="todo" *ngFor="let p of info" >
    <br>
    <p class="text-white font-bold m-4 text-3xl">Perfil</p>
    <div class="m-4 grid justify-items-center ">
    <div class="flex flex-row ">
    
        <div class="flex flex-col 11/12 ">

        <div class="columna h-24 w-96  m-2 rounded-xl bg-gris-contenedor">
          
            <div class="flex flex-row m-2 "  >
              <img class="w-20 h-20 rounded-full" src="https://res.cloudinary.com/dmi77c4sl/image/upload/v1668438715/enefty/WhatsApp_Image_2022-11-14_at_9.09.03_AM_izdrbd.jpg">
              <div class="flex flex-col">
              <p  class="grid justify-items-center text-white font-bold m-1 text-lg">{{p.nombres_u}} {{p.apellidos_u}}</p>
              <p  class="grid justify-items-right text-white font-bold m-1 text-xs">admin </p>
          </div>
        </div>
        </div>
    
        <div class="columna h-24 w-96  m-2 rounded-xl  bg-gris-contenedor ">
            <div class="grid justify-items-center">
            <div class="flex flex-row">
            <p  class="grid justify-items-center text-white font-bold m-4 text-2xl">NFT's  </p>
            <p  class="text-purple-800 font-bold m-4 text-2xl">4 </p>
            </div>
            </div>
        </div>
        <div class="columna h-24 w-96  m-2 rounded-xl  bg-gris-contenedor">
            
        </div>
    
        </div>
        <div class="columna h-80 w-96  m-2 rounded-xl  bg-gris-contenedor ">
            <div class="flex flex-col">
               <br>
               <br>
               <br>
               <br>
               <p  class="grid justify-items-center text-white font-bold m-2 text-2xl">Saldo Actual: </p>
               <div class="grid justify-items-center">
               <div class="flex flex-row">
               <p  class="text-white font-bold m-2 text-2xl">{{p.saldo_u}}</p>
               <p  class="text-purple-800 font-bold m-2 text-2xl">ETH </p>
               </div>
               </div>
               <br>
               <br>
               <button class=" rounded-xl text-white font-semibold  py-2 px-4 border-2 border-purple-800" [formGroup]="Formulario" (click)="toggleModal()" >
                Agregar Saldo 
              </button>
           

  
             
            </div>

           


    
    <p  class="text-white font-bold m-4 text-xl">Mis NFT's</p> -->
    
    <!-- <div class="grid justify-items-center">
    <div class="m-4 flex flex-row ">
        <img class="w-40 h-32 m-2 rounded-lg" src="https://res.cloudinary.com/dmi77c4sl/image/upload/v1668391783/enefty/XQP24CTNQND2TBDZ7AQN54D44Y_akuvkh.jpg">
        <img class="w-40 h-32 m-2 rounded-lg" src="https://res.cloudinary.com/dmi77c4sl/image/upload/v1668391783/enefty/XQP24CTNQND2TBDZ7AQN54D44Y_akuvkh.jpg">
        <img class="w-40 h-32 m-2 rounded-lg" src="https://res.cloudinary.com/dmi77c4sl/image/upload/v1668391783/enefty/XQP24CTNQND2TBDZ7AQN54D44Y_akuvkh.jpg">
        <img class="w-40 h-32 m-2 rounded-lg" src="https://res.cloudinary.com/dmi77c4sl/image/upload/v1668391783/enefty/XQP24CTNQND2TBDZ7AQN54D44Y_akuvkh.jpg">
    </div>
    </div>
    <br>
    <br>
    </div> -->


    <!-- modal
    
       
 

  <div *ngIf="showModal" class=" overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex ">
    <div class="relative w-auto my-6 mx-auto max-w-6xl ">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-96 bg-morado-fondo outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl text-white font-semibold">
            Agregar Saldo
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
            <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
            <form (ngSubmit)="agregarSaldo()" [formGroup]="Formulario">

                <div class="inputs">
                    <div class="correo">
                        <input type="number" class="form-control" name="saldo_u" formControlName="saldo_u" placeholder="">
                        <!-- <span class="form-text" *ngIf="campoEsValido('usuario_u')">
                            Este campo es obligatorio
                        </span> -->
                    </div>
                </div>
            </form>
              
            </div>
       
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="rounded-xl text-white font-semibold  py-2 px-4 border-2 border-purple-800" type="button" (click)="toggleModal()">
            Cerrar
          </button>
          <button class=" rounded-xl text-white font-semibold  py-2 px-4 border-2 border-purple-800" [formGroup]="Formulario" (click)="agregarSaldo()" >
            Agregar Saldo 
          </button>
        </div>
      </div>
   </div>

  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>`
</div>
    