<div class="flex flex-col gap-10">


  <div class="grid grid-cols-3 gap-3 flex justify-between mt-10">
    <div class="text-white text-center my-auto mouse" (click)="BackBut()">
      <i class="fas fa-chevron-left text-5xl inline-block align-middle mr-3"></i>
      <span class="inline-block align-middle">Continuar Comprando</span>
    </div>


    <div class="div2">
      <div class="font-bold text-5xl">
        Carrito
      </div>
      <div class="text-sm">
        <span style="color: #9E24EC">3</span> NFT's en tu carrito
      </div>
    </div>
    <div class="text-white text-center my-auto">
      <div class="font-bold text-2xl inline-block align-middle">
        Saldo 346 ETH
      </div>
    </div>
  </div>



  <table class="table-auto ml-28 mr-28">
    <!-- Encabezado de la tabla -->
    <thead>
      <tr>
        <th class="text-left">Producto</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <!-- Cuerpo de la tabla -->
    <tbody>

      <tr *ngFor="let L of carrito">
        <!-- Imagen -->
        <td class="grid grid-cols-[160px_minmax(220px,_1fr)_100px] inline-block align-middle">
          <img [src]="L.img_a">
          <h5 class="text-start pt-16 font-bold text-xl">{{L.nombre_a}}</h5>
        </td>
        <!-- Precio -->
        <td class="tamano text-center text-xl font-bold">{{L.precio_a}} ETH</td>
        <!-- Boton de accion -->
        <td class="tamano text-center">
          <button class="button button1" (click)="borrarNFT(L.id_a)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <hr class="ml-28 mr-28">

  <div class="subtotal text-end mr-28">
    <div>
      <p class="font-bold text-l subtotal3 ">Subtotal: <span style="color: #9E24EC"> {{subTotal}} ETH </span></p>
      <p class="text-l subtotal3 ">Descuento: <span style="color: #9E24EC"> {{desc}}%</span></p>
      <p class="font-bold text-3xl subtotal3 ">Total: <span style="color: #9E24EC"> {{total}} ETH </span></p>
    </div>
    <button class="pagarbutt pagarbutt1" (click)="abrirModal()"> Pagar</button>
  </div>
</div>

<div class="modalBackdrop" *ngIf="modal"></div>

<div class="paymodal" *ngIf="modal">
  <button (click)="cerrarModal()">
    <i class="fas fa-times text-4xl ml-2" style="color: #9E24EC;"></i>
  </button>
  <div>
    <p class="text-2xl font-bold pt-2">¿Estas seguro que deseas comprar?</p>
  </div>
  <div class="text-center">
    <p>Saldo Actual:</p>
    <p class="text-4xl font-bold"><span style="color: #9E24EC">347</span> ETH <i class="fas fa-caret-down pl-1" style="color: #9E24EC;"></i></p>
  </div>
  <div class="text-center">
    <p>Nuevo Saldo:</p>
    <p class="text-5xl font-bold">196 <span style="color: #9E24EC">ETH</span> <i class="fas fa-minus pl-2"></i></p>
  </div>
  <div class="pt-4">
    <button class="paybutton" (click)="pagar()">Pagar</button>
  </div>
</div>

