<div class="contenedor">
    <div>
        <img src="/assets/sharky.png" alt="">
    </div>
    <div class="p2">
        <p>¡Bienvenido de vuelta!</p>
    </div>
    <form [formGroup]="formulario">

        <div class="inputs">
            <div class="correo">
                <input type="text" class="input" placeholder="Usuario o correo" formControlName="usuario_u">
                <i class="fa-solid fa-envelope"></i>
                <span class="form-text" *ngIf="campoEsValido('usuario_u')">
                    Ingrese su usuario o correo
                </span>
            </div>
            <div class="correo">
                <input type="password" data-lpignore="true" placeholder="Contraseña" formControlName="pass">
                <i class="fa-solid fa-key"></i>
                <span class="form-text" *ngIf="campoEsValido('pass')">
                    Ingrese su contraseña
                </span>
            </div>
            <div class="botones">
                <button class="R" [routerLink]="['/registro']">Registrarme</button> |
                <button class="C" (click)="Login()">Continuar</button>
            </div>

        </div>
    </form>
</div>