<article class="w-full flex justify-between">

    <!-- <div class="w-2/3 bg-red-600"> -->
        <div class="w-1/6 h-auto bg-morado-contenedor flex items-center rounded-lg p-4 text-gris-fuente">
                <a routerLink="/dashboard">
                <!-- <i class="fa-solid fa-magnifying-glass mr-2 text-sm font-semibold mr-2"></i>
                    <input placeholder="Buscar colecciones"
                    class="w-full h-full bg-transparent font-semibold ml-2 placeholder:text-gris-fuente text-blanco-fuente shadow-none outline-none"> -->
                    <h1 class="text-blanco-fuente font-bold text-xl">ENEFTY</h1>
                </a>
                </div>
    <!-- </div> -->

    <div class="w-[30%] flex justify-between items-center">

        <article class="flex">
            <div class="w-32 h-10 bg-morado-contenedor flex rounded-lg justify-evenly p-1.5">
                <!-- <img src="assets/eth.svg" class=""> -->
                <img src="../../assets/eth1.svg">
                <!-- <img src="../../assets/eth2.svg"> -->
                <p class="text-transparent bg-clip-text bg-gradient-to-br from-morado-resaltar to-rosa-resaltar font-semibold my-auto">
                    1289 ETH</p>
            </div>
        </article>

        <article class="w-36 flex justify-evenly">
            <i
                class="fa-regular fa-message text-transparent text-2xl bg-clip-text bg-gradient-to-br from-rosa-resaltar to-morado-resaltar"></i>
            <i
                class="fa-solid fa-chart-line text-transparent text-2xl bg-clip-text bg-gradient-to-br from-rosa-resaltar to-morado-resaltar"></i>
            <i
                class="fa-sharp fa-solid fa-bell text-transparent text-2xl bg-clip-text bg-gradient-to-br from-rosa-resaltar to-morado-resaltar"></i>
        </article>

        <a routerLink="/perfil">
        <article class="w-12 h-12 flex rounded-full bg-gradient-to-br from-rosa-resaltar to-morado-resaltar justify-center">
            <div style="background-image:url('../assets/perfil10.jpg')" class="w-[85%] h-[85%] rounded-full bg-cover my-auto">
            </div>
        </article>
    </a>

    </div>

</article>
