.modal {
  border: #2596be 2px solid;
    position: fixed;
    width: 550px;
    top: 50%;
    left: 50%;
    z-index: 2;
    background: #171529;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    color: #DBDCE1;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    padding: 10px;
    max-height: 500px;
}

.modal img {
    height: 200px;
    border-radius: 15px;
    overflow: hidden;   
}

.fade-in {
  animation: spin 6s linear infinite;
  height: 343px;
  object-fit: contain;
  object-position: center;
}


@keyframes spin {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.infoModal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

.infoModal div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 20px;
}

.modal>button {
    align-self: flex-end;
}

.comsModal {
    overflow: scroll;
    width: 80%;
    margin: 10px;
}

.botonmodal {
  width: 129px;
  height: 30px;
  border: #2596be 1px solid;
  border-radius: 10px;
  transition-duration: 0.2s;
  color: #2596be;;
}

.botonmodal:hover {
  background-color: #2596be;
  color: white;
  /* fill: white; */
}


.inputcoment {
  background-color: #171529;
  border: 1px solid #2596be;
  border-radius: 8px;
}

input::placeholder {
  color: #2596be;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px;
}

.arrow {
  color: white;
  font-size: x-large;
}
