<div class="flex gap-6">
  <app-navbar></app-navbar>
  <div class="w-full">

    <div class="w-full h-auto gap-6 flex">
      <!-- Centro dashboard -->
      <section class="w-2/3">

        <!-- Banner -->
        <article class="flex justify-center">

          <div class="w-full relative bg-cover overflow-hidden">
            <img [src]="ofertas[index]" class="fade-in">
          </div>

        </article>
        <div class="arrows">
          <button class="arrow" (click)="prevOferta()"><i class="fa-solid fa-arrow-left-long"></i></button>
          <button class="arrow" (click)="nextOferta()"><i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
        <!-- Banner -->

        <!-- Botones trending -->
        <article class="flex justify-center">
          <div class="w-full">
            <div class="text-2xl text-blanco-fuente font-bold my-5">Categorías</div>
            <div class="w-4/5 flex my-5 mb-8">
              <!-- <button *ngFor="let C of Categorias" class="w-28 h-9 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-md mr-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                                {{C.nombre_c}}
                            </button> -->
              <button (click)="ObtenerProductos('todos')"
                [ngClass]="{'bg-gradient-to-br from-rosa-resaltar to-morado-resaltar': categoria == 'todos'}"
                class="w-28 h-9 border border-rosa-resaltar rounded-md mx-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                Todos
              </button>
              <button (click)="ObtenerProductosxCategoria(C.nombre_c, C.id_c)" *ngFor="let C of Categorias"
                [ngClass]="{'bg-gradient-to-br from-rosa-resaltar to-morado-resaltar': categoria == C.nombre_c}"
                class="w-28 h-9 border border-rosa-resaltar rounded-md mx-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                {{C.nombre_c}}
              </button>
              <!-- <button class="w-28 h-9 border border-rosa-resaltar rounded-md mx-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                                Música
                            </button>
                            <button class="w-28 h-9 border border-rosa-resaltar rounded-md mx-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                                Deportes
                            </button>
                            <button class="w-28 h-9 border border-rosa-resaltar rounded-md ml-2 flex items-center justify-center text-center text-blanco-fuente my-auto">
                                Juegos
                            </button> -->
            </div>
          </div>
        </article>
        <!-- Botones trending -->

        <!-- Cards -->
        <article class="flex justify-center">

          <div class="w-full grid grid-cols-3 gap-4">
            <!-- agregarAlCarrito(PC) -->
            <div *ngFor="let PC of Productos" (click)="abrirModal(PC)"
              class="bg-morado-contenedor h-fit border border-rosa-resaltar rounded-xl p-4">

              <article style="background-image:url({{PC.img_a}});" class="w-full h-40 bg-center rounded-xl bg-cover">
              </article>

              <p class="text-blanco-fuente font-semibold tracking-wide mt-3 mb-6">{{PC.nombre_a}}</p>

              <article class="flex items-center mt-4">
                <p class="text-morado-resaltar font-bold mr-2">{{PC.precio_a}} ETH</p>
                <p class="text-xs text-blanco-fuente ml-2">{{PC.precio_a | eth | currency: 'USD'}}</p>
              </article>

            </div>


            <!-- <div class="bg-morado-contenedor h-fit border border-rosa-resaltar rounded-xl p-4">

                            <article style="background-image:url('../assets/NFTazul.jpg')" class="w-full h-32 rounded-xl bg-cover">
                            </article>

                            <p class="text-blanco-fuente font-semibold tracking-wide mt-3 mb-6">Variedad infinita</p>

                            <article class="flex">
                                <div style="background-image:url('../assets/perfil2.png')" class="w-10 h-10 bg-cover rounded-md mr-2"></div>
                                <div class="ml-2">
                                    <p class="text-xs text-gris-fuente">Creador</p>
                                    <p class="text-sm text-blanco-fuente">Jimmy Chairperson</p>
                                </div>
                            </article>

                            <article class="flex mt-4 items-end">
                                <p class="text-morado-resaltar font-bold mr-2">2.45 ETH</p>
                                <p class="text-xs text-blanco-fuente ml-2">$172.60</p>
                            </article>

                        </div>


                        <div class="bg-morado-contenedor h-fit border border-rosa-resaltar rounded-xl p-4">

                            <article style="background-image:url('../assets/NFTazulado.jpg')" class="w-full h-32 rounded-xl bg-cover">
                            </article>

                            <p class="text-blanco-fuente font-semibold tracking-wide mt-3 mb-6">Variedad infinita</p>

                            <article class="flex">
                                <div style="background-image:url('../assets/perfil9.jpg')" class="w-10 h-10 bg-cover rounded-md mr-2"></div>
                                <div class="ml-2">
                                    <p class="text-xs text-gris-fuente">Creador</p>
                                    <p class="text-sm text-blanco-fuente">Jimmy Chairperson</p>
                                </div>
                            </article>

                            <article class="flex mt-4 items-end">
                                <p class="text-morado-resaltar font-bold mr-2">2.45 ETH</p>
                                <p class="text-xs text-blanco-fuente ml-2">$172.60</p>
                            </article>

                        </div> -->

          </div>

        </article>
        <!-- Cards -->

      </section>
      <!-- Centro dashboard -->

      <!-- Derecho dashboard -->
      <section class="w-1/3 flex justify-center">
        <article class="w-full h-3/4 pb-20 bg-morado-contenedor rounded-xl p-4">

          <article class="flex justify-between items-start">
            <p class="text-blanco-fuente text-lg font-semibold">Nuevos</p>
          </article>

          <article class="h-80 mt-8 overflow-auto">

            <div *ngFor="let P of productosTodos"
              class="flex bg-gris-contenedor rounded-xl my-4 p-3 hover:shadow-rosa-resaltar/20 hover:bg-gris-contenedor hover:shadow-xl duration-300">
              <div style="background-image:url({{P.img_a}})" class="w-12 h-12 rounded-md bg-cover mr-2"></div>
              <div class="ml-3">
                <p class="text-blanco-fuente font-semibold traking-wide">{{P.nombre_a}}</p>
                <p class="text-gris-fuente text-xs font-bold">{{P.precio_a}} ETH</p>
              </div>
            </div>

            <!-- <div class="flex bg-gris-contenedor rounded-xl my-4 p-3 hover:shadow-rosa-resaltar/20 hover:bg-gris-contenedor hover:shadow-xl duration-300">
                            <div style="background-image:url('../assets/calavera.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>
                            <div class="ml-3">
                                <p class="text-blanco-fuente font-semibold traking-wide">Mono espacial</p>
                                <p class="text-gris-fuente text-xs font-bold">0.73 ETH</p>
                            </div>
                        </div>

                        <div class="flex bg-gris-contenedor rounded-xl my-4 p-3 hover:shadow-rosa-resaltar/20 hover:bg-gris-contenedor hover:shadow-xl duration-300">
                            <div style="background-image:url('../assets/monoDorado.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>
                            <div class="ml-3">
                                <p class="text-blanco-fuente font-semibold traking-wide">Mono espacial</p>
                                <p class="text-gris-fuente text-xs font-bold">0.73 ETH</p>
                            </div>
                        </div> -->

          </article>
          <hr>

          <article class="flex justify-between my-8">
            <p class="text-blanco-fuente text-lg font-semibold">Comentarios</p>
            <select (change)="comentariosPorCat($event)"
              class="w-auto h-auto border border-rosa-resaltar rounded text-center flex justify-evenly px-2 py-1">
              <i class="fa-solid fa-caret-down text-blanco-fuente ml-2 my-auto"></i>
              <option selected disabled>Categoría</option>
              <option value="0">Todos</option>
              <option *ngFor="let cat of Categorias" [value]="cat.id_c">{{cat.nombre_c}}</option>
            </select>
          </article>

          <!-- inicio top artistas -->
          <article class="overflow-scroll h-2/3">

            <div class="flex my-4" *ngFor="let com of comXCat">

              <div class="flex w-full">
                <div>
                  <p class="text-blanco-fuente">{{com.com}}</p>
                  <p class="text-rosa-resaltar"><small>{{com.usuario_u}}</small></p>
                  <p class="text-gris-fuente"><small>{{com.fecha_com | date}}</small></p>
                </div>

                <!-- <button
                                    class="w-32 h-8 bg-gris-contenedor rounded-sm text-blanco-fuente text-center flex items-center justify-center">Ver
                                    comentario</button> -->
              </div>
            </div>

            <!--
                        <div class="flex my-4">
                            <div style="background-image:url('../assets/perfil4.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>

                            <div class="flex justify-between w-full">
                                <div>
                                    <P class="text-blanco-fuente font-semibold">Jimmy Chairperson</P>
                                    <P class="text-xs text-gris-fuente">@chairpersonjimmy</P>
                                </div>

                                <button class="w-20 h-8 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-sm text-blanco-fuente text-center flex items-center justify-center">Seguir</button>
                            </div>
                        </div>

                        <div class="flex my-4">
                            <div style="background-image:url('../assets/perfil5.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>

                            <div class="flex justify-between w-full">
                                <div>
                                    <P class="text-blanco-fuente font-semibold">Jimmy Chairperson</P>
                                    <P class="text-xs text-gris-fuente">@chairpersonjimmy</P>
                                </div>

                                <button class="w-20 h-8 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-sm text-blanco-fuente text-center flex items-center justify-center">Seguir</button>
                            </div>
                        </div>

                        <div class="flex my-4">
                            <div style="background-image:url('../assets/perfil6.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>

                            <div class="flex justify-between w-full">
                                <div>
                                    <P class="text-blanco-fuente font-semibold">Jimmy Chairperson</P>
                                    <P class="text-xs text-gris-fuente">@chairpersonjimmy</P>
                                </div>

                                <button class="w-20 h-8 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-sm text-blanco-fuente text-center flex items-center justify-center">Seguir</button>
                            </div>
                        </div>

                        <div class="flex my-4">
                            <div style="background-image:url('../assets/perfil7.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>

                            <div class="flex justify-between w-full">
                                <div>
                                    <P class="text-blanco-fuente font-semibold">Jimmy Chairperson</P>
                                    <P class="text-xs text-gris-fuente">@chairpersonjimmy</P>
                                </div>

                                <button class="w-20 h-8 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-sm text-blanco-fuente text-center flex items-center justify-center">Seguir</button>
                            </div>
                        </div>

                        <div class="flex my-4">
                            <div style="background-image:url('../assets/perfil8.png')" class="w-12 h-12 bg-cover rounded-md mr-2"></div>

                            <div class="flex justify-between w-full">
                                <div>
                                    <P class="text-blanco-fuente font-semibold">Jimmy Chairperson</P>
                                    <P class="text-xs text-gris-fuente">@chairpersonjimmy</P>
                                </div>

                                <button class="w-20 h-8 bg-gradient-to-br from-rosa-resaltar to-morado-resaltar rounded-sm text-blanco-fuente text-center flex items-center justify-center">Seguir</button>
                            </div>
                        </div> -->

          </article>
          <!-- Fin top artistas -->


        </article>
      </section>
      <!-- Derecho dashboard -->


    </div>

    <!-- -------------------------------------------- -->

    <div *ngIf="modal" class="modal">
      <button (click)="cerrarModal()">
        <i class="fas fa-times text-xl" style="color: #9E24EC;"></i>
      </button>
      <article class="infoModal">
        <div>
          <h1 class="font-bold text-xl">{{selectedNft?.nombre_a}}</h1>
          <h1> <span style="color: #9E24EC;">ETH</span> {{selectedNft?.precio_a}}</h1>
          <button class="botonmodal" (click)="agregarAlCarrito(selectedNft!)">
            <i class="fas fa-cart-plus mt-2">
            </i></button>
        </div>
        <img [src]="selectedNft?.img_a" alt="">
      </article>
      <span class="ml-3" style="color: #ffffff;">Agregar Comentarios:</span>
      <!-- <form [formGroup]="comInput">
            <input type="text" formControlName="com" class="inputcoment mr-3 ml-3 w-80 h-20">
            <button [disabled]="comInput.invalid" (click)="insertarComentario()" type="button">Enviar</button>
        </form> -->
      <form [formGroup]="comInput">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="far fa-comment-dots" style="color: #9E24EC;"></i>
          </div>
          <input type="text" formControlName="com"
            class="block w-full p-4 pl-10 text-sm text-purple-600 border border-purple-600 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-900 dark:purple-600 dark:placeholder-gray-400 dark:text-purple-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Comentarios" required>
          <button [disabled]="comInput.invalid" type="submit" (click)="insertarComentario()"
            class="text-white absolute right-2.5 bottom-2.5 bg-purple-600 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-purple-600 dark:hover:bg-blueGray-800 dark:focus:ring-purple-800"><i
              class="far fa-paper-plane"></i></button>
        </div>
      </form>

      <article class="comsModal">
        <div *ngFor="let comentario of comentarios">{{comentario.com}} <small>
            <p class="text-rosa-resaltar">{{comentario.usuario_u}}</p>
            <p class="text-gris-fuente">{{comentario.fecha_com}}</p>
          </small></div>
      </article>
    </div>

    <!-- -------------------------------------------- -->

  </div>
</div>
